In [3]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import glob

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
data_folder = "../data/william-data/" # "/Volumes/Crucial X8/csi_depth_camera/data"

In [5]:
data = dict()
labels = dict()

f_runs = glob.glob(f"{data_folder}/run_*")

# Loop over runs
for f_r in f_runs:
    
    r = f_r.split("/")[-1]
    f_pairs = glob.glob(f"{f_r}/processed/labelled/csi/sit_stand/*") # something like "*/rx1_tx1", "*/rx1_tx2", etc.
    if r not in data:
        data[r] = dict()
    
    # Loop over pairs
    for f_p in f_pairs:
        pair = f_p.split("/")[-1]
        labels = glob.glob(f"{f_p}/*")# something like "%/sit", "*/stand"... etc
        
        # Loop over labels
        for lab in labels:
            f_rep = glob.glob(f"{lab}/*.csv") # something like "*/movement 1", etc.
            
            # Loop over repetitions/movements
            for f_rp in f_rep:
                mvt = "_".join(f_rp.split("/")[-1].split("_")[:2])
                if mvt not in data[r]:
                     data[r][mvt] = dict()
                df = pd.read_csv(f_rp)
                df.rename(columns={'timestamps': 'timestamp'}, inplace=True)
                df["datetime"] = pd.to_datetime(df["timestamp"], unit='s', utc=True)
                # df["datetime"] = df["timestamp"].apply(lambda x: datetime.datetime.fromtimestamp(x))
                data[r][mvt][pair] = df

In [6]:
data["run_10"]["movement_1"]["rx1_tx1"]

         timestamp  amplitude     phase                            datetime
0     1.699442e+09  -0.002479 -2.687434 2023-11-08 11:07:07.930000128+00:00
1     1.699442e+09  -0.003003  2.648856 2023-11-08 11:07:07.930099968+00:00
2     1.699442e+09  -0.002860 -1.896758 2023-11-08 11:07:07.930200064+00:00
3     1.699442e+09  -0.003069  1.220491 2023-11-08 11:07:07.930299904+00:00
4     1.699442e+09  -0.002853  6.026424    2023-11-08 11:07:07.930400+00:00
...            ...        ...       ...                                 ...
1995  1.699442e+09  -0.006928  8.917455 2023-11-08 11:07:11.112950016+00:00
1996  1.699442e+09  -0.006821  0.415367    2023-11-08 11:07:11.112960+00:00
1997  1.699442e+09  -0.006851  4.049500 2023-11-08 11:07:11.112970240+00:00
1998  1.699442e+09  -0.006288 -1.772177 2023-11-08 11:07:11.112979968+00:00
1999  1.699442e+09  -0.006798  9.570432 2023-11-08 11:07:11.112989952+00:00

[2000 rows x 4 columns]